@using AutoMapper;
@using Blazored.LocalStorage;
@using Models.Dto.GetModels;
@using Models.Dto.PostPutModels;
@using Models.Entity;
@using Models.QuerySupporter;
@using System.Security.Claims;
@using Models.Utility;
@using WEB.Data.Services.Base;
@using WEB.Data.UtilityServices.Base;
@using WEB.Utility;



@attribute [Authorize]


<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenDataGrid @ref="grid" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" TItem="Equipment" EmptyText="@ConstantValues.COLLECTION_EMPTY" PageSize="5"
                                EqualsText="Равно" NotEqualsText="Не равно" ContainsText="Содержит" DoesNotContainText="Не содержит" IsNotEmptyText="Не пустое" AndOperatorText="И" OrOperatorText="Или"
                                StartsWithText="Начинается с" EndsWithText="Заказнчивается с" IsNullText="Не записано" IsNotNullText="Записано" IsEmptyText="Пустое" LessThanText="Меньше чем" LessThanOrEqualsText="Меньше или равно"
                                GreaterThanText="Больше чем" GreaterThanOrEqualsText="Больше или равно" FilterText="Фильтр" ApplyFilterText="Применить" ClearFilterText="Очистить"
                                PagerAlwaysVisible="true" Count="@(records!.ElementsCount)" AllowMultiColumnSorting="false" LoadData="@LoadData" Data="@(records.Collection)"
                                ShowPagingSummary="true" AllowColumnReorder="true" PagingSummaryFormat="@ConstantValues.pagingSummaryFormat" CellContextMenu="@ContextMenu" AllowColumnResize="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="Equipment" Property="TechnicalTask.NameEquipment" Width="20%" MinWidth="280px" Title="Название оборудования">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Equipment" Property="TechnicalTask.TypeEquipment.Name" Width="20%" MinWidth="220px" Title="Тип оборудования">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Equipment" Property="EquipmentCode" Width="20%" MinWidth="220px" Title="Код оборудования">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Equipment" Property="Status" Width="20%" MinWidth="210px" Title="Статус оборудования">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Equipment" Property="Date" Width="20%" MinWidth="170px" Title="Дата создания">
                            <Template Context="data">
                                @(data.Date.ToShortDateString())
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Equipment" Filterable="false" Reorderable="false" Resizable="false" Sortable="false" Width="120px" TextAlign="TextAlign.Center" Frozen="true">
                            <Template Context="_context">
                                <RadzenButton Icon="assignment_return" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" @onclick:stopPropagation="true" Click="@(async () => await RestoreRecord(_context))">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" @onclick:stopPropagation="true" class="my-1 ms-1" Click="@(async () => await DeleteRecord(_context))">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>

    </ChildContent>
</RadzenContent>


@code {
    private void ContextMenu(DataGridCellMouseEventArgs<Equipment> args) => ContextMenuService!.Open(args, ds =>
    @<RadzenMenu Click="@(async (value) => await ContextMenuSelector(args, value))">
        <RadzenMenuItem Icon="assignment_return" Text="Восстановить запись" Value="1"></RadzenMenuItem>
        <RadzenMenuItem Icon="delete" Text="Удалить запись" Value="2"></RadzenMenuItem>
    </RadzenMenu>
    );
}



