@using Models.Dto.GetModels;
@using Models.Dto.PostPutModels;
@using Models.Entity;
@using Models.QuerySupporter;
@using WEB.Data.Services.Base;
@using WEB.Data.UtilityServices.Base;
@using WEB.Utility;

@attribute [Authorize(Roles = "Администратор, Технический писатель")]

<RadzenContent Container="main">
    <ChildContent>

        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@task" TItem="TechnicalTask" Submit="@HandleAdd">
                    <ChildContent>
                        <DataAnnotationsValidator />
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Тип оборудования" Component="Post" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenDropDownDataGrid SearchText="Поиск по названию" AllowFiltering=true PageSize="5" AllowColumnResize="true" TValue="TypeEquipment" Data="@(types!.Collection)" Count="@(types.ElementsCount)" Multiple="false" SelectedItemsText="Выбранных элементов" TextProperty="Name" @bind-Value="@(task.TypeEquipment)" Val style="width: 100%"
                                                        LoadData="@LoadData" ShowPagingSummary="true" PagerAlwaysVisible="true" PagingSummaryFormat="@ConstantValues.pagingSummaryFormat" EmptyText="@ConstantValues.COLLECTION_EMPTY">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="Name" Width="100%" MinWidth="150px" Title="Название типа оборудования">
                                        </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                                <ValidationMessage For="@(() => task.TypeEquipment)" />
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Название оборудования" Component="Name" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(task.NameEquipment)">
                                </RadzenTextBox>
                                <ValidationMessage For="@(() => task.NameEquipment)" />
                            </div>
                        </div>
                        <div class="row footer">
                            <div>
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>


