@using AutoMapper;
@using Blazored.LocalStorage;
@using Models.Dto.GetModels;
@using Models.Dto.PostPutModels;
@using Models.Entity;
@using Models.QuerySupporter;
@using WEB.Data.Services.Base;
@using WEB.Data.UtilityServices.Base;
@using WEB.Utility;

@attribute [Authorize]


<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenDataGrid @ref=grid Data="@(bin!.Collection)" AllowColumnResize="true" TItem="TechnicalTest" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" ExpandMode=DataGridExpandMode.Single AllowSorting="true" TItem="User" EmptyText="@ConstantValues.COLLECTION_EMPTY" PageSize="5"
                                EqualsText="Равно" NotEqualsText="Не равно" ContainsText="Содержит" DoesNotContainText="Не содержит" IsNotEmptyText="Не пустое" AndOperatorText="И" OrOperatorText="Или"
                                StartsWithText="Начинается с" EndsWithText="Заказнчивается с" IsNullText="Не записано" IsNotNullText="Записано" IsEmptyText="Пустое" LessThanText="Меньше чем" LessThanOrEqualsText="Меньше или равно"
                                GreaterThanText="Больше чем" GreaterThanOrEqualsText="Больше или равно" FilterText="Фильтр" ApplyFilterText="Применить" ClearFilterText="Очистить"
                                PagerAlwaysVisible="true" Count="@(bin!.ElementsCount)" AllowMultiColumnSorting="false"
                                ShowPagingSummary="true" AllowColumnReorder="true" PagingSummaryFormat="@ConstantValues.pagingSummaryFormat" CellContextMenu="@ContextMenu" LoadData="@LoadData">
                    <Columns>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="Premium" Width="10%" MinWidth="130px" Title="Статус">
                            <Template Context="childdata">
                                <RadzenCheckBox Value="@childdata.Passed" Disabled="true" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="TestPriority" Width="20%" MinWidth="200px" Title="Приоритет">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="Date" Width="30%" MinWidth="300px" Title="Дата тестирования">
                            <Template Context="childdata">
                                @(childdata.Date.ToShortDateString())
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="ExpectedConclusion" Width="30%" MinWidth="300px" Title="Ожидаемый результат">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="FactCoclusion" Width="30%" MinWidth="300px" Title="Фактический результат">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="TestData" Width="30%" MinWidth="300px" Title="Данные тестирования">
                            <Template Context="childdata">
                                <RadzenText Style="white-space: pre-wrap">@childdata.TestData</RadzenText>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="Description" Width="30%" MinWidth="230px" Title="Описание тестирования">
                            <Template Context="childdata">
                                <RadzenText Style="white-space: pre-wrap">@childdata.Description</RadzenText>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="Comment" Width="30%" MinWidth="250px" Title="Примечание тестировщика">
                            <Template Context="childdata">
                                <RadzenText Style="white-space: pre-wrap">@childdata.Comment</RadzenText>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="User.Last_name" Width="20%" MinWidth="255px" Title="Фамилия тестировщика">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="User.First_name" Width="20%" MinWidth="255px" Title="Имя тестировщика">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Property="User.Otch" Width="20%" MinWidth="255px" Title="Отчество тестировщика">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TechnicalTest" Filterable="false" Reorderable="false" Resizable="false" Sortable="false" Width="120px" TextAlign="TextAlign.Center" Frozen="true">
                            <Template Context="_context">
                                <RadzenButton Icon="assignment_return" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" @onclick:stopPropagation="true" Click="@(() => RestoreTest(_context))">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" @onclick:stopPropagation="true" class="my-1 ms-1" Click="@(() => DeleteTest(_context))">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>


@code{
    private void ContextMenu(DataGridCellMouseEventArgs<TechnicalTest> args) => ContextMenuService!.Open(args, ds =>
    @<RadzenMenu Click="@((value) => ContextMenuSelector(args, value))">
        <RadzenMenuItem Icon="assignment_return" Text="Восстановить запись" Value="1"></RadzenMenuItem>
        <RadzenMenuItem Icon="delete" Text="Удалить запись" Value="2"></RadzenMenuItem>

    </RadzenMenu>
    );
}
